@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-invalid {
    @apply text-red-700;
}

.number-input::after {
    @apply absolute bottom-2 right-9 text-base-800 dark:text-base-300 font-extrabold;
    content: 'px';
}

.spinner {
    @apply inline-block w-6 h-6;
}

.spinner:after {
    @apply block w-4 h-4 m-1 rounded-[50%] border-[0.15rem] border-solid border-y-base-800 dark:border-y-base-300 border-x-base-100/0;
    animation: spinner 0.7s linear infinite;
    content: " ";
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
