@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #00000000;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
    border-radius: 25px;
    background-color: #334155;
    background-clip: content-box;
}
